* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mulish-Regular";
  src: url(./assets/font/Mulish-Regular.ttf);
}
@font-face {
  font-family: "Mulish-Bold";
  src: url(./assets/font/Mulish-Bold.ttf);
}
@font-face {
  font-family: "Playwrite";
  src: url(./assets/font/Playwrite_italic.ttf);
}
:root {
  --background-color--header-index: #070658e3;
  --background-color-body: rgb(252, 252, 252);
  --background-color-index: rgba(63, 75, 253, 0.596);
  --background-color-profil-image: rgba(63, 75, 253, 0.596);
  --color: #fff;
  --font-family-header: "Mulish-Bold";
  --font-family-h1: "Mulish-Bold";
  --font-family-h2: "Mulish-Bold";
  --font-family-h3: "Mulish-Bold";
  --font-family-a: "Mulish-Bold";
  --font-family-p: "Mulish-Regular";
  --border: 3px solid rgb(9, 1, 73);
  --border-bottom: 3px solid rgb(9, 1, 73);
  --box-shadow: -15px -16px 0 rgba(255, 254, 255, 0.658);
  --transition-duration: 0.5s;
  --transition-timing-function: ease;
}
/* propriété de la barre de navigation ------------------------------------------------------*/
body.index {
  background-color: var(--background-color-body);
  color: #262323;
  font-family: var(--font-family-header);
}

.header_index {
  background-color: var(--background-color--header-index);
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  z-index: 1000;
}

.header_logo img {
  max-height: 50px;
}
.header_nav_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header_nav_menu_link {
  margin-right: 12px;
}
.header_nav_menu_link:last-of-type {
  margin-right: initial;
}
.header_nav_menu_link a {
  font-family: var(--font-family-a);
  color: var(--color);
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
.header_nav_menu_link a:after {
  content: "";
  height: 2px;
  background-color: var(--color);
  width: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.2s all ease-in-out;
}
.header_nav_menu_link a:hover:after {
  width: 100%;
  left: 0;
}
.header_nav_menu_link_dropdown {
  position: relative;
  display: inline-block;
}
.header_nav_menu_link_dropdown a {
  font-family: var(--font-family-a);
  color: var(--color);
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
.header_nav_menu_link_dropdown a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color--header-index);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header_nav_menu_link_dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.header_burger {
  display: none;
}
.header_burger svg {
  stroke: var(--color);
  width: 24px;
  height: 24px;
}
.header_nav_close {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header_burger {
    display: block;
    cursor: pointer;
  }
  .header_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--background-color--header-index);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1000;
  }
  .header_nav.open {
  display: flex;
  animation: transformMenu 300ms ease-in-out forwards;
  background-color: rgba(0, 0, 0, 0.021);
}

@keyframes transformMenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
  .header_nav_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_nav_menu_link {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header_nav_menu_link a,
  .header_nav_menu_link_dropdown a {
    font-size: 25px;
  }
  .header_nav_close {
    display: block;
    cursor: pointer;
  }
  .header_nav_close svg {
    stroke: var(--color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .overlay_menu_mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    background-color: var(--background-color--header-index);
    display: none;
  }
  .overlay_menu_mobile.open {
    display: block;
  }
}
/* page d'acceuil ------------------------------------------------------------------------------------------------ */
.profil-image {
  background-image: url(./assets/CyberPunk/img/profil.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 100px;
  background-color: var(--background-color-profil-image);
  border: (--border);
  border-radius: 20px;
  z-index: 1;
  transition: all 0.5s ease;
}
.index .Acceuil {
  background-color: var(--background-color-index);
  border: var(--border);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 100px;
  padding-bottom: 200px;
  padding-top: 20px;
  width: 600px;
  height: 700px;
  position: relative;
  transition: all 0.5s ease;
}

.index .title {
  font-family: var(--font-family-h1);
  font-size: 40px;
  color: var(--color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: auto;
  text-decoration: underline;
}

.index_h2,
.index_h3{
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 20px;
  color:var(--color);
}
.index_h3{
  margin-bottom: 100px;
  border-bottom: var(--border-bottom);
  color:var(--color);
}
.index_p{
  text-align: left;
  padding-left: 20px;
  padding-right: 50px;
  margin-top: 20px;
  color:var(--color);
}
.signature {
  font-family: "Playwrite", sans-serif;
  font-size: 25px;
  text-decoration: underline;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 900px) {
  .profil-image {
    width: 90px;
    height: 90px;
    top: 70px;
    transform: translateX(-50%);
    top: calc(150px - 50px);
  }
  .index .Acceuil{
    margin-top: 200px;
    width: 400px;
    height: 700px;
  }
  .index_h2,
  .index_h3{
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  .index_h3{
    margin-bottom: 100px;
    border-bottom: var(--border-bottom);
  }
  .index_p{
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/* caractérisitique de page Diplome --------------------------------------------------------- */
body.Qui {
  background-color: var(--background-color-body);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color);
}

.container_qui {
  display: flex;
  justify-content: space-between;
  width: 1500px;
  top: 150px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 50px;
  background: var(--background-color-index);
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  color: var(--color);
  font-family: var(--font-family-h2);
  transition: all 0.5s ease;
}

h1.Qui {
  text-align: center;
  color: var(--color);
  font-family: var(--font-family-h1);
}

p.Qui {
  margin: 20px 30px;
  justify-content: space-around;
  color: var(--color);
  font-family: var(--font-family-p);
}

.profile {
  flex: 2;
  transition: all 0.5s ease;
}

.sidebar {
  flex: 1;
  padding-left: 20px;
  border-left: var(--border-bottom);
  transition: all 0.5s ease;
}

.sidebar img {
  display: block;
  margin: 0 auto 20px;
  width: 50px;
  height: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  justify-content: center;
}

.sidebar li {
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .container_qui {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .profile,
  .sidebar {
    flex: none;
    width: 100%;
  }

  .sidebar {
    padding-left: 0;
    border-left: none;
    border-top: var(--border-bottom);
  }
}

/* caractérisitique  page xp_____________________________________________________________ */
body.xp {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-family-h1);
  font-size: 17px;
  font-weight: 400;
  color: var(--color);
}

section.xp {
  padding: 250px 0;
}

.timeline {
  position: relative;
  padding: 150px 0;
  min-height: 600px;
}

.timeline::before {
  content: "";
  background: var(--background-color--header-index);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: calc(100% - 1100px);
  margin: 0 100px;
  padding: 10px 30px;
  border-radius: 15px;
  background: var(--background-color-index);
  box-shadow: var(--box-shadow);
}

.timeline-content h1,
.timeline-content h2,
.timeline-content h3,
.timeline-content p {
  color: var(--color);
}

.timeline-content h1 {
  font-family: var(--font-family-h1);
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-img {
  width: 20px;
  height: 20px;
  background: var(--background-color-index);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-logo {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 60px;
}


@media screen and (max-width: 1200px) {
  .timeline::before,
  .timeline-img {
    left: 50px;
  }

  .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline-item:nth-child(odd) .timeline-content::after {
    left: -15px;
  }
}

.js--fadeInLeft {
  animation: fadeInLeft 1s ease-in-out;
}

.js--fadeInRight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* caractérisitique des body de page Compétence ------------------------------------------------------ */
body.index2 {
  background-image: url("/assets/zelda/img/hyrule1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.competences {
  font-family: var(--font-family-h1);
  background-color: var(--background-color-index);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 50px;
  width: 70%;
  margin: 15px auto;
  margin-top: 100px;
}

.competences main h1,
.hskill h2,
.soskill h2 {
  font-family: var(--font-family-h2);
  color: var(--color);
}

.box_h3 h3{
  text-align: center;
  font-family: var(--font-family-h3);
  font-size:20px;
  color: black;
  margin-top:0;
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
  margin: 0;
  position: relative;
  flex-basis: 10%;
}

.box_h3 {
  display: flex;
  align-items: start; 
  flex-direction: column; 
  gap: 10px;
  height: auto;
  box-shadow: 0 0 15px #f1ececc4;
  border-bottom: var(--border-bottom);
  background-color: white;
  border-radius: 25px;
  margin: 15px;
  padding: 10px;
  position: relative;
  max-height: auto; 
 
}

.box_h3 li {
  font-family: var(--font-family-p);
  font-size:13px;
  color: black;
}

.box_skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:20px;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.hskill,
.soskill {
  flex:1;
  padding: 20px;
  background-color: var(--background-color--header-index);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.soskill {
  background: var(--background-color--header-index) url("./assets/logo/class-skills.jpg") no-repeat center bottom 150px;
  background-size: 200px 200px;
} 
.box_h3 ul,
.hskill ul,
.soskill ul {
  list-style: none;
}

.hskill li,soskill li{
  margin-bottom: 5px;
  margin-right:100px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .competences {
    width: 90%;
    padding: 50px;
  }

  .soskill {
    background-position: center;
  }

  .box_skill {
    flex-direction: column;
    align-items: center;
  }

  .hskill,
  .soskill {
    width: 100%;
    margin-top: 20px;
  }

  .box_h3 h3 {
    flex-basis: auto;
    width: 100%;
    text-align: center;
  }

  .box_h3 li {
    padding-left: 20px;
    text-align: center;
  }
    .hskill, .soskill {
    flex-basis: 48%;
  }
  .soskill {
    background: var(--background-color--header-index) url("./assets/logo/class-skills.jpg") no-repeat center bottom 150px;;
    background-size: 200px 200px;
  } 
}

.hard_skill, .soft_skill {
  font-family: var(--font-family-h2);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.box_h3 {
  border-bottom: var(--border-bottom);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.box_h3 ul {
  list-style-type: none;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.box_h3:hover {
  transform: scale(1.02);
  box-shadow: var(--box-shadow);
}


/* Caractéristique de la page formulaire--------------------------------------------------*/

div.Formulaire {
  background-color: var(--background-color--header-index);
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  width: 80%;
  margin: 20px auto 0;
  margin-top: 100px;
  color: var(--color);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.title_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 90%;
  max-width: 400px;
  background-color: var(--background-color-index);
  box-shadow: var(--box-shadow);
  padding: 20px;
  font-size: 20px;
  margin: 0 auto 5px;
  text-align: center;
  transition: font-size var(--transition-duration) var(--transition-timing-function);
  position: relative;
  color: var(--color);
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

form#survey-form {
  display: flex;
  flex-direction: column;
}

form#survey-form label,
form#survey-form input[type="text"],
form#survey-form input[type="email"],
form#survey-form textarea {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

form#survey-form textarea {
  width: 50vw;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

form#survey-form input[type="submit"] {
  background-color: var(--background-color-index);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .title_form {
    font-size: 16px;
  }
}
